<!DOCTYPE html>

<html>

<head>
    <title>
        Blunderfish
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>

<body>
    <h1> BlunderFish </h1>


    <div class="board-wrapper">
        
        <div class="ranks">
            {% for rank in range(8,0,-1) %}
                <div> {{rank}} </div>
            {% endfor %}
        </div>


        <div class="chessboard" id="chessboard">
            {% for square in squares %}
            <div class="square {{ square.color }}"
                data-square="{{ square.name }}">
            </div>
            {% endfor %}
        </div>

        <div class="files">
            {% for file in "abcdefgh" %}
                <div> {{file}}</div>
            {% endfor %}
        </div>
    </div>

</body>

</html>