.board-wrapper {
    display: grid;
    grid-template-columns: 30px 480px;
    grid-template-rows: 480px 30px;
    grid-template-areas:
        "ranks board"
        ".     files";
    gap: 4px;
}

.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 480px;
    aspect-ratio: 1;
    border: 2px solid #333
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 60px;
    max-height: 60px;
    font-size: 14px;
}

.square.piece {
    width: 100%;
    height: 100%;
    display: block;
}

.square.light {
    background: #f0d9b5;
}

.square.dark {
    background: #b48863;
}

.ranks {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    align-items: center ;
    justify-items: left;
    width: 480px;
}

.files {
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    justify-items: center;
    width: 480px;
}